<div class="container" style="margin-top: 5%;">
    <h1>{{title }}</h1>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Nom</th>
                <th>Prénoms</th>
                <th>Téléphone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <h3 *ngIf="!listeParticipant.length" class="center">
                <!-- Attente de recup des donnees -->
                <app-loader></app-loader>
            </h3>
            <tr *ngFor="let participant of listeParticipant">
                <td>{{ participant.nom }}</td>
                <td>{{ participant.prenom }}</td>
                <td>{{ participant.tel }}</td>
                <td>{{ participant.email }}</td>
            </tr>
        </tbody>
    </table>
</div>